In [2]:
import pandas as pd
import numpy as np

# 1) header tags

In [1]:
from bs4 import BeautifulSoup
import requests

In [3]:
wikipedia_page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [4]:
wikipedia_page

In [5]:
soup_wikipedia = BeautifulSoup(wikipedia_page.content)

In [6]:
h1_tags = []

for i in soup_wikipedia.find_all('h1'):
    h1_tags.append(i.text)
    
    
h1_tags

['Main Page', 'Welcome to Wikipedia']

In [7]:
h2_tags = []

for i in soup_wikipedia.find_all('h2'):
    h2_tags.append(i.text)
    
    
h2_tags

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu']

In [8]:
h3_tags = []

for i in soup_wikipedia.find_all('h3'):
    h3_tags.append(i.text.split('\n')[1])
    
    
h3_tags

['Search']

# 2) IMDB'S Top rated 100 movies

In [9]:
Imdb = requests.get('https://www.imdb.com/list/ls063915608/')
Imdb

In [10]:
soup_Imdb = BeautifulSoup(Imdb.content)

In [11]:
Name = []

for i in soup_Imdb.find_all('h3',class_='lister-item-header'):
    Name.append(i.text.split('\n')[2])
    
Name

['Rang De Basanti',
 'Lagaan: Once Upon a Time in India',
 'Dil Chahta Hai',
 'Gangs of Wasseypur',
 'Zindagi Na Milegi Dobara',
 '3 Idiots',
 'Swades: We, the People',
 'Paan Singh Tomar',
 'Salaam Bombay!',
 'Bhaag Milkha Bhaag',
 'A Wednesday',
 'Barfi!',
 'Dev.D',
 'Gangs of Wasseypur',
 'Piku',
 'Taare Zameen Par',
 'Munna Bhai M.B.B.S.',
 'Vicky Donor',
 'Drishyam',
 'Hera Pheri',
 'Andaz Apna Apna',
 'Gangaajal',
 'Once Upon a Time in Mumbaai',
 'Raajneeti',
 'Special Chabbis',
 'Masaan',
 'Ankhon Dekhi',
 'Parched',
 'Udaan',
 'PK',
 'Oye Lucky! Lucky Oye!',
 'Ship of Theseus',
 'Kahaani',
 'Maqbool',
 'Bandit Queen',
 'Black Friday',
 'Omkara',
 'Queen',
 'Shahid',
 'The Lunchbox',
 'Dangal',
 'Chak De! India',
 'Black',
 'Guru',
 'My Name Is Khan',
 'Manjhi: The Mountain Man',
 'Satya',
 'Paa',
 'Raincoat',
 'The Legend of Bhagat Singh',
 'Apaharan',
 'OMG: Oh My God!',
 'Shool',
 'Talvar',
 'Wake Up Sid',
 'Sholay',
 'Haider',
 'Mumbai Meri Jaan',
 'Jo Jeeta Wohi Sikandar',
 'Lage Raho Munna Bhai',
 'Dum Laga Ke Haisha',
 'Rockstar',
 'Dilwale Dulhania Le Jayenge',
 'English Vinglish',
 'Ghajini',
 'Devdas',
 'Jab We Met',
 'Pink',
 'Ugly',
 'Rock On!!',
 'Jodhaa Akbar',
 'Peepli [Live]',
 'Company',
 'Damini',
 'Gulaal',
 'Udta Punjab',
 'Madras Cafe',
 'Lootera',
 'BÃ£hubali: The Beginning',
 'Fashion',
 'Sarfarosh',
 'Kai po che!',
 'Raanjhanaa',
 'Bajirao Mastani',
 'Zakhm',
 'Virasat',
 'Stanley Ka Dabba',
 'Darr',
 'Guzaarish',
 'Namastey London',
 'Nayak: The Real Hero',
 'Khakee',
 'Delhi Belly',
 'Gadar: Ek Prem Katha',
 'Veer-Zaara',
 'Kuch Kuch Hota Hai',
 'Dhamaal',
 'Golmaal: Fun Unlimited',
 'Aligarh',
 'Earth']

In [12]:
Rating = []

for i in soup_Imdb.find_all('div',class_='ipl-rating-widget'):
    Rating.append(i.text.split('\n')[9])
    
Rating

['8.1',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.5',
 '8.3',
 '8.2',
 '7.9',
 '8.3',
 '8.1',
 '8.2',
 '8',
 '8.2',
 '7.6',
 '8.4',
 '8.1',
 '7.8',
 '8.2',
 '8.1',
 '8.1',
 '7.8',
 '7.4',
 '7.1',
 '8.1',
 '8.1',
 '8',
 '7.5',
 '8.1',
 '8.2',
 '7.7',
 '8',
 '8.1',
 '8.1',
 '7.5',
 '8.5',
 '8.1',
 '8.2',
 '8.3',
 '7.8',
 '8.4',
 '8.2',
 '8.2',
 '7.7',
 '8',
 '8',
 '8.3',
 '7.1',
 '7.7',
 '8.2',
 '7.4',
 '8.2',
 '7.7',
 '8.1',
 '7.6',
 '8.1',
 '8.1',
 '7.7',
 '8.2',
 '8.1',
 '7.5',
 '7.8',
 '8.2',
 '7.9',
 '7.4',
 '7.6',
 '7.9',
 '8.1',
 '8',
 '7.8',
 '7.6',
 '7.4',
 '8',
 '7.9',
 '8',
 '7.8',
 '7.7',
 '7.4',
 '8.1',
 '6.9',
 '8.1',
 '7.9',
 '7.6',
 '7.3',
 '7.9',
 '7.4',
 '7.9',
 '7.9',
 '7.5',
 '7.2',
 '7.8',
 '7.5',
 '7.6',
 '7.3',
 '7.9',
 '7.7',
 '7.4',
 '7.4',
 '7.8',
 '7.7']

In [13]:
Year = []

for i in soup_Imdb.find_all('span',class_='lister-item-year text-muted unbold'):
    Year.append(i.text.replace(')','').replace('(',''))
    
    
Year

['2006',
 '2001',
 '2001',
 '2012',
 '2011',
 '2009',
 '2004',
 '2012',
 '1988',
 '2013',
 '2008',
 '2012',
 '2009',
 '2012',
 '2015',
 '2007',
 '2003',
 '2012',
 '2015',
 '2000',
 '1994',
 '2003',
 '2010',
 '2010',
 '2013',
 '2015',
 '2013',
 '2015',
 '2010',
 '2014',
 '2008',
 '2012',
 '2012',
 '2003',
 '1994',
 '2004',
 '2006',
 '2013',
 '2012',
 '2013',
 '2016',
 '2007',
 '2005',
 '2007',
 '2010',
 '2015',
 '1998',
 '2009',
 '2004',
 '2002',
 '2005',
 '2012',
 '1999',
 '2015',
 '2009',
 '1975',
 '2014',
 '2008',
 '1992',
 '2006',
 '2015',
 '2011',
 '1995',
 '2012',
 '2008',
 'I 2002',
 '2007',
 'III 2016',
 '2013',
 '2008',
 '2008',
 '2010',
 '2002',
 '1993',
 '2009',
 '2016',
 '2013',
 'I 2013',
 '2015',
 '2008',
 '1999',
 '2013',
 '2013',
 '2015',
 '1998',
 '1997',
 '2011',
 '1993',
 '2010',
 '2007',
 '2001',
 '2004',
 '2011',
 '2001',
 '2004',
 '1998',
 '2007',
 '2006',
 '2015',
 '1998']

In [14]:
Top_movies = pd.DataFrame({'Name':Name,'Rating':Rating,'Year_of_Release':Year})
Top_movies

                                 Name Rating Year_of_Release
0                     Rang De Basanti    8.1            2006
1   Lagaan: Once Upon a Time in India    8.1            2001
2                      Dil Chahta Hai    8.1            2001
3                  Gangs of Wasseypur    8.2            2012
4            Zindagi Na Milegi Dobara    8.2            2011
..                                ...    ...             ...
95                 Kuch Kuch Hota Hai    7.7            1998
96                            Dhamaal    7.4            2007
97             Golmaal: Fun Unlimited    7.4            2006
98                            Aligarh    7.8            2015
99                              Earth    7.7            1998

[100 rows x 3 columns]

# 3) IMDB'S Top Indian Movies

In [15]:
Top_Indian_Movies = requests.get('https://www.imdb.com/list/ls009997493/')
Top_Indian_Movies

In [16]:
soup_indian_movies = BeautifulSoup(Top_Indian_Movies.content)

In [17]:
Name = []

for i in soup_indian_movies.find_all('h3',class_='lister-item-header'):
    Name.append(i.text.split('\n')[2])
    
Name

['Rang De Basanti',
 '3 Idiots',
 'Taare Zameen Par',
 'Dil Chahta Hai',
 'Swades: We, the People',
 'Lagaan: Once Upon a Time in India',
 'Gangs of Wasseypur',
 'Barfi!',
 'Anand',
 'Munna Bhai M.B.B.S.',
 'A Wednesday',
 'Andaz Apna Apna',
 'Sholay',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Udaan',
 'Kahaani',
 'Black',
 'Chak De! India',
 'Khosla Ka Ghosla!',
 'Jo Jeeta Wohi Sikandar',
 'Zindagi Na Milegi Dobara',
 'Paan Singh Tomar',
 'Dilwale Dulhania Le Jayenge',
 'Omkara',
 'Lage Raho Munna Bhai',
 'Iqbal',
 'The Lunchbox',
 'Black Friday',
 'Company',
 'Golmaal',
 'Dev.D',
 'Jaane Bhi Do Yaaro',
 'OMG: Oh My God!',
 'Mughal-E-Azam',
 'Gulaal',
 'Dor',
 'Jab We Met',
 'Pyaasa',
 'The Legend of Bhagat Singh',
 'Masoom',
 'Salaam Bombay!',
 'Satya',
 'Vicky Donor',
 'Lakshya',
 'Vaastav: The Reality',
 'Kal Ho Naa Ho',
 'Oye Lucky! Lucky Oye!',
 'Sarfarosh',
 'Gangaajal',
 'Angoor',
 'Madras Cafe',
 'English Vinglish',
 'Chupke Chupke',
 'Johnny Gaddaar',
 'Maqbool',
 'Hazaaron Khwaishein Aisi',
 'Rock On!!',
 'Don',
 'Chhoti Si Baat',
 'Guide',
 'Raanjhanaa',
 'Deewaar',
 'Special Chabbis',
 'Padosan',
 'Mumbai Meri Jaan',
 'Ab Tak Chhappan',
 'Kai po che!',
 'Awaara',
 'Shree 420',
 'Earth',
 'Gunda',
 'Parinda',
 'Dasvidaniya',
 'Hey Ram',
 'Pinjar: Beyond Boundaries...',
 'Socha Na Tha',
 'Guru',
 'Bawarchi',
 'Manorama: Six Feet Under',
 'Mr. India',
 'Aamir',
 'Zakhm',
 'Water',
 'Stanley Ka Dabba',
 'Agneepath',
 'My Name Is Khan',
 'Qayamat Se Qayamat Tak',
 '3 Deewarein',
 'Abhimaan',
 'Sarkar',
 'Bheja Fry',
 'Mother India',
 'Jaane Tu... Ya Jaane Na',
 'Delhi Belly',
 'Wake Up Sid',
 'Rangeela',
 'Shatranj Ke Khilari',
 'Pyaar Ka Punchnama',
 'Ek Hasina Thi']

In [18]:
Rating = []

for i in soup_indian_movies.find_all('span',class_='lister-item-year text-muted unbold'):
    Rating.append(i.text.replace('(','').replace(')',''))
    
Rating

['2006',
 '2009',
 '2007',
 '2001',
 '2004',
 '2001',
 '2012',
 '2012',
 '1971',
 '2003',
 '2008',
 '1994',
 '1975',
 '2013',
 '2000',
 '2010',
 '2012',
 '2005',
 '2007',
 '2006',
 '1992',
 '2011',
 '2012',
 '1995',
 '2006',
 '2006',
 '2005',
 '2013',
 '2004',
 '2002',
 '1979',
 '2009',
 '1983',
 '2012',
 '1960',
 '2009',
 '2006',
 '2007',
 '1957',
 '2002',
 '1983',
 '1988',
 '1998',
 '2012',
 '2004',
 '1999',
 '2003',
 '2008',
 '1999',
 '2003',
 '1982',
 '2013',
 '2012',
 '1975',
 '2007',
 '2003',
 '2003',
 '2008',
 '1978',
 '1976',
 '1965',
 '2013',
 '1975',
 '2013',
 '1968',
 '2008',
 '2004',
 '2013',
 '1951',
 '1955',
 '1998',
 '1998',
 '1989',
 '2008',
 '2000',
 '2003',
 '2005',
 '2007',
 '1972',
 '2007',
 '1987',
 '2008',
 '1998',
 'I 2005',
 '2011',
 '1990',
 '2010',
 '1988',
 '2003',
 '1973',
 '2005',
 '2007',
 '1957',
 '2008',
 '2011',
 '2009',
 '1995',
 '1977',
 '2011',
 '2004']

In [50]:
Year = []

for i in soup_indian_movies.find_all('div',class_='ipl-rating-star small'):
    Year.append(i.text.split('\n')[8])
    
    
Year

['8.1',
 '8.5',
 '8.4',
 '8.1',
 '8.3',
 '8.1',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.3',
 '8.1',
 '8.1',
 '8.1',
 '8.2',
 '8.2',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '7.8',
 '8.5',
 '8',
 '8.6',
 '8',
 '8.4',
 '8.2',
 '8.2',
 '8',
 '8',
 '7.9',
 '8.3',
 '8.2',
 '8.4',
 '7.9',
 '8.3',
 '7.8',
 '7.9',
 '8',
 '8',
 '7.7',
 '8.1',
 '7.8',
 '8.3',
 '7.7',
 '7.9',
 '8.3',
 '7.9',
 '8.1',
 '7.9',
 '7.8',
 '7.7',
 '8.3',
 '8.4',
 '7.6',
 '8',
 '8.1',
 '8.1',
 '7.7',
 '7.9',
 '7.9',
 '7.8',
 '7.9',
 '7.7',
 '7.6',
 '7.8',
 '7.8',
 '8',
 '8',
 '7.4',
 '7.7',
 '8.1',
 '7.6',
 '7.8',
 '7.6',
 '7.9',
 '7.7',
 '7.9',
 '7.6',
 '8',
 '7.5',
 '7.8',
 '7.8',
 '7.6',
 '7.6',
 '7.8',
 '7.5',
 '7.6',
 '7.6',
 '7.4',
 '7.5',
 '7.7',
 '7.5']

In [19]:
Indian_movies = pd.DataFrame({'Name':Name,'Rating':Rating,'Year_of_Release':Year})
Indian_movies

                      Name Rating Year_of_Release
0          Rang De Basanti   2006            2006
1                 3 Idiots   2009            2001
2         Taare Zameen Par   2007            2001
3           Dil Chahta Hai   2001            2012
4   Swades: We, the People   2004            2011
..                     ...    ...             ...
95             Wake Up Sid   2009            1998
96                Rangeela   1995            2007
97     Shatranj Ke Khilari   1977            2006
98      Pyaar Ka Punchnama   2011            2015
99           Ek Hasina Thi   2004            1998

[100 rows x 3 columns]

# 4) MEESHO BAGS

In [20]:
meesho = requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
meesho

In [21]:
meesho_soup = BeautifulSoup(meesho.content)

In [22]:
product_name = []

for i in meesho_soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw"):
    product_name.append(i.text)
    
product_name

['Elegant Fashionable Women Handbags',
 'Elegant Versatile Women Handbags',
 'Trendy Fancy Women Handbags',
 'Trendy Fashionable Women Handbags',
 'Trendy Fashionable Women Handbags',
 'Elegant Fancy Women Handbags',
 'Classic Alluring Women Handbags',
 "Trendy Women's Leather Handbag",
 'Trendy Stylish Women Handbags',
 'Classic Fancy Women Handbags',
 'Elegant Fashionable Women Handbags',
 'Classic Classy Women Handbags',
 'Ravishing Fancy Women Handbags',
 'Elite Alluring Women Handbags',
 'Elite Versatile Women Handbags',
 'Graceful Stylish Women Handbags',
 'Elite Fashionable Women Handbags',
 'Elite Versatile Women Handbags',
 'Gorgeous Versatile Women Handbags',
 'Trendy Alluring Women Handbags']

In [23]:
product_price = []

for i in meesho_soup.find_all('h5',class_="Text__StyledText-sc-oo0kvp-0 dLSsNI"):
    product_price.append(i.text.split('â¹')[1])
    
product_price

['303',
 '615',
 '4949',
 '1146',
 '339',
 '761',
 '145',
 '645',
 '330',
 '350',
 '748',
 '334',
 '334',
 '834',
 '650',
 '665',
 '684',
 '723',
 '841',
 '615']

In [24]:
product_discount = []

for i in meesho_soup.find_all('p',class_="Text__StyledText-sc-oo0kvp-0 iDRzyZ NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY"):
    product_discount.append(i.text.split('â¹')[1])
    
product_discount

['50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '25 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order',
 '50 discount on 1st order']

In [25]:
meesho_bags = pd.DataFrame({'product_name':product_name,'product_price':product_price,'product_discount':product_discount})
meesho_bags

                          product_name product_price          product_discount
0   Elegant Fashionable Women Handbags           303  50 discount on 1st order
1     Elegant Versatile Women Handbags           615  50 discount on 1st order
2          Trendy Fancy Women Handbags          4949  50 discount on 1st order
3    Trendy Fashionable Women Handbags          1146  50 discount on 1st order
4    Trendy Fashionable Women Handbags           339  50 discount on 1st order
5         Elegant Fancy Women Handbags           761  50 discount on 1st order
6      Classic Alluring Women Handbags           145  25 discount on 1st order
7       Trendy Women's Leather Handbag           645  50 discount on 1st order
8        Trendy Stylish Women Handbags           330  50 discount on 1st order
9         Classic Fancy Women Handbags           350  50 discount on 1st order
10  Elegant Fashionable Women Handbags           748  50 discount on 1st order
11       Classic Classy Women Handbags           334  50 discount on 1st order
12      Ravishing Fancy Women Handbags           334  50 discount on 1st order
13       Elite Alluring Women Handbags           834  50 discount on 1st order
14      Elite Versatile Women Handbags           650  50 discount on 1st order
15     Graceful Stylish Women Handbags           665  50 discount on 1st order
16    Elite Fashionable Women Handbags           684  50 discount on 1st order
17      Elite Versatile Women Handbags           723  50 discount on 1st order
18   Gorgeous Versatile Women Handbags           841  50 discount on 1st order
19      Trendy Alluring Women Handbags           615  50 discount on 1st order

# 5) ODI Men's ICC

# a) Top Ten Team

In [26]:
ICCmen_page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
ICCmen_page

In [27]:
ICCmen_soup = BeautifulSoup(ICCmen_page.content)

In [28]:
team = []

for i in ICCmen_soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
    
    
team

teams = team[:10] 
teams

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [29]:
team = []

for i in ICCmen_soup.find_all('td',class_="rankings-block__banner--matches"):
    team.append(i.text)
    
    
team

team_matches = []

for i in ICCmen_soup.find_all('tr',class_="table-body"):
    team_matches.append(i.text.split('\n')[7])
    
    


frames = team+team_matches
matches = frames[:10]
matches

['18', '32', '30', '38', '31', '29', '36', '35', '36', '23']

In [30]:
points1 = []

for i in ICCmen_soup.find_all('tr',class_="rankings-block__banner"):
    points1.append(i.text.split('\n')[8])
    
    
team_points = []

for i in ICCmen_soup.find_all('tr',class_="table-body"):
    team_points.append(i.text.split('\n')[8])
    
    
frame2 = points1+team_points
points = frame2[:10]
points

['2,185',
 '3,793',
 '3,430',
 '4,162',
 '3,167',
 '2,757',
 '3,350',
 '2,835',
 '2,788',
 '1,562']

In [31]:
ratings1 = []

for i in ICCmen_soup.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    ratings1.append(i.text.split('\n')[1])
    
    
team_ratings = []

for i in ICCmen_soup.find_all('tr',class_="table-body"):
    team_ratings.append(i.text.split('\n')[9])
    
    
rating = ratings1+team_ratings
ratings=rating[:10]
ratings

['                            121',
 '119',
 '114',
 '110',
 '102',
 '95',
 '93',
 '81',
 '77',
 '68']

In [32]:
df1 = pd.DataFrame({'teams':teams,'matches':matches,'points':points,'ratings':ratings})
df1

          teams matches points                          ratings
0   New Zealand      18  2,185                              121
1       England      32  3,793                              119
2     Australia      30  3,430                              114
3         India      38  4,162                              110
4  South Africa      31  3,167                              102
5      Pakistan      29  2,757                               95
6    Bangladesh      36  3,350                               93
7     Sri Lanka      35  2,835                               81
8   West Indies      36  2,788                               77
9   Afghanistan      23  1,562                               68

# b) Top Ten Batsman

In [33]:
batsman_page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
batsman_page

In [34]:
soup_batsman=BeautifulSoup(batsman_page.content)

In [35]:
first_batsman = []

for i in soup_batsman.find_all('div',class_="rankings-block__banner--name-large"):
    first_batsman.append(i.text)
    
first_batsman

table_batsman = []

for i in soup_batsman.find_all('td',class_="table-body__cell rankings-table__name name"):
    table_batsman.append(i.text.split('\n')[1])
    
tbatsman=table_batsman[:9]
batsman = first_batsman+tbatsman
batsman

['Babar Azam',
 'Virat Kohli',
 'Ross Taylor',
 'Rohit Sharma',
 'Quinton de Kock',
 'Jonny Bairstow',
 'Aaron Finch',
 'Rassie van der Dussen',
 'David Warner',
 'Imam-ul-Haq']

In [36]:
first_batsman_team = []

for i in soup_batsman.find_all('div',class_="rankings-block__banner--nationality"):
    first_batsman_team.append(i.text.split('\n')[2])
    
first_batsman_team

batsman_team = []

for i in soup_batsman.find_all('span',class_="table-body__logo-text"):
    batsman_team.append(i.text)
    
team_batsman = first_batsman_team + batsman_team
batsman_teams = team_batsman[:10]
batsman_teams

['PAK', 'IND', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'SA', 'AUS', 'PAK']

In [37]:
first_batsman_rating = []

for i in soup_batsman.find_all('td',class_="u-text-left"):
    first_batsman_rating.append(i.text.split('\n')[1])
    
first_batsman_rating

batsman_rating = []

for i in soup_batsman.find_all('td',class_="table-body__cell rating"):
    batsman_rating.append(i.text)
    
batsmans_rating = batsman_rating[:9]
batsmans_rating

ratings = first_batsman_rating + batsmans_rating
ratings

['872', '811', '794', '791', '789', '775', '771', '769', '758', '746']

In [38]:
Top_batsman = pd.DataFrame({'batsman':batsman,'batsman_teams':batsman_teams,'ratings':ratings})
Top_batsman

                 batsman batsman_teams ratings
0             Babar Azam           PAK     872
1            Virat Kohli           IND     811
2            Ross Taylor            NZ     794
3           Rohit Sharma           IND     791
4        Quinton de Kock            SA     789
5         Jonny Bairstow           ENG     775
6            Aaron Finch           AUS     771
7  Rassie van der Dussen            SA     769
8           David Warner           AUS     758
9            Imam-ul-Haq           PAK     746

# c) Top Ten Bowlers

In [39]:
bowlers_page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
bowlers_page

In [40]:
soup_bowlers=BeautifulSoup(bowlers_page.content)

In [41]:
first_bowler = []

for i in soup_bowlers.find_all('div',class_="rankings-block__banner--name-large"):
    first_bowler.append(i.text)
    
first_bowler

bowlers = []

for i in soup_bowlers.find_all('td',class_="table-body__cell rankings-table__name name"):
    bowlers.append(i.text.split('\n')[1])
    
tbowlers = bowlers[:9]
bowlers = first_bowler + tbowlers
bowlers

['Trent Boult',
 'Josh Hazlewood',
 'Chris Woakes',
 'Matt Henry',
 'Mujeeb Ur Rahman',
 'Jasprit Bumrah',
 'Mehedi Hasan',
 'Shakib Al Hasan',
 'Adam Zampa',
 'Rashid Khan']

In [42]:
first_team = []

for i in soup_bowlers.find_all('div',class_="rankings-block__banner--nationality"):
    first_team.append(i.text.split('\n')[2])
    
first_team

bowlers_team = []

for i in soup_bowlers.find_all('span',class_="table-body__logo-text"):
    bowlers_team.append(i.text)
    
tbowlers_team = bowlers_team[:9]
team = first_team + tbowlers_team
team

['NZ', 'AUS', 'ENG', 'NZ', 'AFG', 'IND', 'BAN', 'BAN', 'AUS', 'AFG']

In [43]:
first_rating = []

for i in soup_bowlers.find_all('div',class_="rankings-block__banner--rating"):
    first_rating.append(i.text)
    
first_rating

bowlers_rating = []

for i in soup_bowlers.find_all('td',class_="table-body__cell rating"):
    bowlers_rating.append(i.text)
    
tbowlers_rating = bowlers_rating[:9]
rating = first_rating + tbowlers_rating
rating

['733', '705', '700', '687', '681', '679', '661', '657', '650', '650']

In [44]:
Top_bowlers = pd.DataFrame({'bowlers':bowlers,'team':team,'rating':rating})
Top_bowlers

            bowlers team rating
0       Trent Boult   NZ    733
1    Josh Hazlewood  AUS    705
2      Chris Woakes  ENG    700
3        Matt Henry   NZ    687
4  Mujeeb Ur Rahman  AFG    681
5    Jasprit Bumrah  IND    679
6      Mehedi Hasan  BAN    661
7   Shakib Al Hasan  BAN    657
8        Adam Zampa  AUS    650
9       Rashid Khan  AFG    650

# 6) ODI Women's ICC

# a) Top Ten Team

In [45]:
ICCWomen_page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
ICCWomen_page

In [46]:
soup_women = BeautifulSoup(ICCWomen_page.content)

In [47]:
team = []

for i in soup_women.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
    
    
team

teams = team[:10] 
teams

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [48]:
team = []

for i in soup_women.find_all('td',class_="rankings-block__banner--matches"):
    team.append(i.text)
    
    
team

team_matches = []

for i in soup_women.find_all('tr',class_="table-body"):
    team_matches.append(i.text.split('\n')[7])
    
    


frames = team+team_matches
matches = frames[:10]
matches

['28', '28', '29', '29', '31', '28', '12', '26', '5', '5']

In [49]:
points1 = []

for i in soup_women.find_all('tr',class_="rankings-block__banner"):
    points1.append(i.text.split('\n')[8])
    
    
team_points = []

for i in soup_women.find_all('tr',class_="table-body"):
    team_points.append(i.text.split('\n')[8])
    
    
frame2 = points1+team_points
points = frame2[:10]
points

['4,663',
 '3,504',
 '3,425',
 '2,890',
 '3,018',
 '2,478',
 '935',
 '1,753',
 '240',
 '233']

In [50]:
ratings1 = []

for i in soup_women.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    ratings1.append(i.text.split('\n')[1])
    
    
team_ratings = []

for i in soup_women.find_all('tr',class_="table-body"):
    team_ratings.append(i.text.split('\n')[9])
    
    
rating = ratings1+team_ratings
ratings=rating[:10]
ratings

['                            167',
 '125',
 '118',
 '100',
 '97',
 '89',
 '78',
 '67',
 '48',
 '47']

In [51]:
df1 = pd.DataFrame({'teams':teams,'matches':matches,'points':points,'ratings':ratings})
df1

          teams matches points                          ratings
0     Australia      28  4,663                              167
1  South Africa      28  3,504                              125
2       England      29  3,425                              118
3         India      29  2,890                              100
4   New Zealand      31  3,018                               97
5   West Indies      28  2,478                               89
6    Bangladesh      12    935                               78
7      Pakistan      26  1,753                               67
8       Ireland       5    240                               48
9     Sri Lanka       5    233                               47

# b) Top Ten Batting

In [52]:
ICCwomen_batting = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
ICCwomen_batting

In [53]:
batting_soup = BeautifulSoup(ICCwomen_batting.content)

In [54]:
first_bating = []

for i in batting_soup.find_all('div',class_="rankings-block__banner--name-large"):
    first_bating.append(i.text)
    
first_bating

table_bating = []

for i in batting_soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    table_bating.append(i.text.split('\n')[1])
    
tbats=table_bating[:9]
player = first_bating+tbats
player

['Laura Wolvaardt',
 'Beth Mooney',
 'Meg Lanning',
 'Natalie Sciver',
 'Alyssa Healy',
 'Mithali Raj',
 'Rachael Haynes',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana']

In [55]:
first_team = []

for i in batting_soup.find_all('div',class_="rankings-block__banner--nationality"):
    first_team.append(i.text.split('\n')[2])
    
first_team

batting_team = []

for i in batting_soup.find_all('span',class_="table-body__logo-text"):
    batting_team.append(i.text)
    
team_batting = first_team + batting_team
teams = team_batting[:10]
teams

['SA', 'AUS', 'AUS', 'ENG', 'AUS', 'IND', 'AUS', 'ENG', 'NZ', 'IND']

In [56]:
first_batting_rating = []

for i in batting_soup.find_all('td',class_="u-text-left"):
    first_batting_rating.append(i.text.split('\n')[1])
    
first_batting_rating

batting_rating = []

for i in batting_soup.find_all('td',class_="table-body__cell rating"):
    batting_rating.append(i.text)
    
bat_rating = batting_rating[:9]
bat_rating

ratings = first_batting_rating + bat_rating
ratings

['740', '726', '718', '705', '703', '686', '684', '682', '681', '669']

In [57]:
Top_players = pd.DataFrame({'player':player,'teams':teams,'ratings':ratings})
Top_players

              player teams ratings
0    Laura Wolvaardt    SA     740
1        Beth Mooney   AUS     726
2        Meg Lanning   AUS     718
3     Natalie Sciver   ENG     705
4       Alyssa Healy   AUS     703
5        Mithali Raj   IND     686
6     Rachael Haynes   AUS     684
7     Tammy Beaumont   ENG     682
8  Amy Satterthwaite    NZ     681
9    Smriti Mandhana   IND     669

# c) Top Ten Bowlers

In [58]:
bowlers_page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')
bowlers_page

In [59]:
soup_bowlers=BeautifulSoup(bowlers_page.content)

In [60]:
first_bowler = []

for i in soup_bowlers.find_all('div',class_="rankings-block__banner--name-large"):
    first_bowler.append(i.text)
    
first_bowler

bowlers = []

for i in soup_bowlers.find_all('td',class_="table-body__cell rankings-table__name name"):
    bowlers.append(i.text.split('\n')[1])
    
tbowlers = bowlers[:9]
bowlers = first_bowler + tbowlers
bowlers

['Sophie Ecclestone',
 'Jess Jonassen',
 'Shabnim Ismail',
 'Megan Schutt',
 'Jhulan Goswami',
 'Marizanne Kapp',
 'Ayabonga Khaka',
 'Kate Cross',
 'Ellyse Perry',
 'Hayley Matthews']

In [61]:
first_team = []

for i in soup_bowlers.find_all('div',class_="rankings-block__banner--nationality"):
    first_team.append(i.text.split('\n')[2])
    
first_team

bowlers_team = []

for i in soup_bowlers.find_all('span',class_="table-body__logo-text"):
    bowlers_team.append(i.text)
    
tbowlers_team = bowlers_team[:9]
team = first_team + tbowlers_team
team

['ENG', 'AUS', 'SA', 'AUS', 'IND', 'SA', 'SA', 'ENG', 'AUS', 'WI']

In [62]:
first_rating = []

for i in soup_bowlers.find_all('div',class_="rankings-block__banner--rating"):
    first_rating.append(i.text)
    
first_rating

bowlers_rating = []

for i in soup_bowlers.find_all('td',class_="table-body__cell rating"):
    bowlers_rating.append(i.text)
    
tbowlers_rating = bowlers_rating[:9]
rating = first_rating + tbowlers_rating
rating

['787', '727', '724', '706', '663', '660', '650', '626', '623', '622']

In [63]:
Top_bowlers = pd.DataFrame({'bowlers':bowlers,'team':team,'rating':rating})
Top_bowlers

             bowlers team rating
0  Sophie Ecclestone  ENG    787
1      Jess Jonassen  AUS    727
2     Shabnim Ismail   SA    724
3       Megan Schutt  AUS    706
4     Jhulan Goswami  IND    663
5     Marizanne Kapp   SA    660
6     Ayabonga Khaka   SA    650
7         Kate Cross  ENG    626
8       Ellyse Perry  AUS    623
9    Hayley Matthews   WI    622

# 7) coreyms.com

In [64]:
coreyms_page = requests.get('https://coreyms.com/')
coreyms_page

In [65]:
soup_coreyms = BeautifulSoup(coreyms_page.content)

In [70]:
heading = []

for i in soup_coreyms.find_all('a',class_="entry-title-link"):
    heading.append(i.text)
    
    
heading

['Python Tutorial: Zip Files â Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between â==â and âisâ (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) â Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) â Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

In [66]:
date = []

for i in soup_coreyms.find_all('time',class_="entry-time"):
    date.append(i.text)
    
date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

In [67]:
content = []

for i in soup_coreyms.find_all('div',class_="entry-content"):
    content.append(i.text)
    
content

['\nIn this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Letâs get startedâ¦\n\n',
 '\nIn this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Letâs get startedâ¦\n\n\n\n',
 '\nHey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube \n',
 '\nIn this Python Programming Tutorial, we will be learning the difference between using â==â and the âisâ keyword when doing comparisons. The difference between these is that â==â checks to see if values are equal, and the âisâ keyword checks their identity, which means itâs going to check if the values are identical in terms of being the same object in memory. Weâll learn more in the video. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Letâs get startedâ¦\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so letâs go ahead and get startedâ¦\nVSCode on MacOS â https://youtu.be/06I63_p-2A4\nTimestamps for topics in this tutorial: Installation â 1:13 Python Extension â 5:48 Switching Interpreters â 10:04 Changing Color Themes â 12:35 VSCode Settings â 16:16 Set Default Python â 21:33 Using Virtual Environments â 25:10 IntelliSense â 29:45 Code Formatting â 32:13 Code Linting â 37:06 Code Runner Extension â 39:42 Git Integration â 47:44 Use Different Terminal â 51:07 Debugging â 58:45 Unit Testing â 1:03:25 Zen Mode â 1:09:55\n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so letâs go ahead and get startedâ¦\nVSCode on Windows â https://youtu.be/-nh9rCzPJ20\nTimestamps for topics in this tutorial: Installation â 1:11 Python Extension â 6:21 Switching Interpreters â 10:16 Changing Color Themes â 13:08 VSCode Settings â 17:12 Set Default Python â 22:24 Using Virtual Environments â 25:52 IntelliSense â 30:28 Code Formatting â 33:08 Code Linting â 38:01 Code Runner Extension â 40:45 Git Integration â 49:05 Debugging â 58:15 Unit Testing â 1:02:38 Zen Mode â 1:10:42 \n\n\n\n',
 '\nIn this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled â5 Common Python Mistakes and How to Fix Themâ, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Letâs get startedâ¦\n\n\n\n']

In [68]:

code = []

for i in soup_coreyms.find_all('iframe',class_="youtube-player"):
    code.append(i['src'].split('/')[4].split('?')[0])
    

    
code.insert(4,'none')
code

['z0gguhEmWiY',
 '_P7X8tMplsw',
 'fKl2JW_qrso',
 'IEEhzQoKtQU',
 'none',
 'mO_dS3rXDIs',
 '2Fp1N6dof0Y',
 '-nh9rCzPJ20',
 '06I63_p-2A4',
 '_JGmemuINww']

In [71]:
df = pd.DataFrame({'heading':heading,'date':date,'content':content,'code':code})
df

,heading,date,content,code
0,Python Tutorial: Zip Files â Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr...",z0gguhEmWiY
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be...",_P7X8tMplsw
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be...",fKl2JW_qrso
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be...",IEEhzQoKtQU
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...,none
5,Python Quick Tip: The Difference Between â==â ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will...",mO_dS3rXDIs
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will...",2Fp1N6dof0Y
7,Visual Studio Code (Windows) â Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",-nh9rCzPJ20
8,Visual Studio Code (Mac) â Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will...",06I63_p-2A4
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will...",_JGmemuINww

# 8) house details

In [72]:
house_page = requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')

In [73]:
house_page

In [74]:
soup_house = BeautifulSoup(house_page.content)

In [75]:
house_title = []

for i in soup_house.find_all('span',class_="overflow-hidden overflow-ellipsis whitespace-nowrap max-w-80pe po:max-w-full"):
    house_title.append(i.text)
    
house_title

['2 BHK Apartment  For Sale  In Tarang Parkway Apartment In Basaveshwar Nagar',
 '2 BHK Flat  For Sale  In Kumar Ashraya Apartments In Jayanagar',
 '3 BHK Apartment  For Sale  In Brigade Gateway In Rajaji Nagar',
 '4+ BHK In Independent House  For Sale  In Rajaji Nagar',
 '4+ BHK In Independent House  For Sale  In Jayanagar',
 '2 BHK Apartment  For Sale  In Blueberry Apartment In Indiranagar',
 '3 BHK Apartment  For Sale  In Mayitri Enclave In Jayanagar',
 '2 BHK Flat  For Sale  In Jains Prakruti, Jayanagar In Jayanagar 7th Block',
 "4 BHK In Independent House  For Sale  In Jayanagar 4th 't' Block",
 '3 BHK Flat  For Sale  In Benaka Apartments In Indiranagar',
 '4+ BHK In Independent House  For Sale  In Prakash Nagar, Rajaji Nagar',
 '2 BHK Apartment  For Sale  In Jains Prakriti In Jayanagar',
 '2 BHK Flat  For Sale  In Jayanagar Residency In Jayanagar',
 '4 BHK Flat  For Sale  In Rrbc Piccassso In Jayanagar',
 '4 BHK Flat  For Sale  In Phoenix  One Bangalore West In Rajajinagar',
 '4+ BHK In Independent House  For Sale  In Lakshmipuram Indrinagar',
 '3 BHK Flat  For Sale  In Rajaji Nagar',
 '3 BHK Flat  For Sale  In  Sgrr Pallavi Pristine In Jayanagar',
 '3 BHK Flat  For Sale  In Hal 2nd Stage,indiranagar  ',
 '3 BHK Apartment  For Sale  In Ashiana Gardens Apartments In Indiranagar',
 '4 BHK Flat  For Sale  In Golfridge In Indira Nagar',
 '4+ BHK In Independent House  For Sale  In Rajajinagar',
 '4 BHK In Independent House  For Sale  In Jayanagar',
 '2 BHK Flat  For Sale  In Aishwaryam Gokula In Govindraja Nagar',
 '3 BHK Apartment  For Sale  In Admiralty Manor, Indiranagar In Indiranagar']

In [76]:
print(len(house_title))

25

In [77]:
house_location = []

for i in soup_house.find_all('a',class_="text-default-color align-bottom underline hover:text-primary-color"):
    house_location.append(i.text)

    
house_location

['Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby',
 'Explore Nearby']

In [78]:
house_area = []

for i in soup_house.find_all('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95"):
    house_area.append(i.text)

    
house_area

['Tarang Parkway Apartment\xa0 2nd Main Rd, Shivanagar, Basaveshwar Nagar, Bengaluru, Karnataka 560010, India',
 ' Kumar Ashraya Apartments 194, 9th Cross Rd 2nd Block, Jayanagar Bengaluru, Karnataka 560011 India',
 'Brigade Gateway\xa0 Dr Rajkumar Road, Rajaji Nagar, Bengaluru, Karnataka 560055, India',
 'Independent House,  6th Cross road,9th main road  Prakash Nagar, Near Metro Station,  BBMP YOGA CENTRE',
 'Independent House, TMC Layout behind rajalaxmi kalyana mandira',
 'Blueberry Apartment\xa0 13th E Main Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'Mayitri Enclave\xa0 Mayitri Enclave, 39th C, 5T Block, 4th T Block East, Jayanagar, Bengaluru, Karnataka 5600041, India',
 'Kanakapura Road, Jayanagar, Bangalore, Karnataka, INDIA.',
 'Independent House, SBI Branch Jayanagar 9th blk, Bunny Bakers',
 '871, 5th Cross Rd, Indira Nagar 1st Stage, Stage 1, Indiranagar, Bengaluru, Karnataka 560038, India',
 'Independent House, 6th C cross 3rd main rd near Ayyappa Temple',
 'Jains Prakriti\xa0  Kanakapura Rd, 7th Block West, 7th Block, Jayanagar, Bengaluru, Karnataka 560070, India',
 'Jayanagar Residency, K V Layout, LIC Colony, Jayanagar 3rd Block East, Jayanagar, Bengaluru, Karnataka 560011, India',
 'Municipal No.152, 18th main road, beside Sai Baba Temple, Jayanagara 9th Block, Jayanagar, Bengaluru, Karnataka 560056, India',
 'Dr Rajkumar Rd, opposite Sheraton Hotel, Rajajinagar',
 'Independent House, CMH Rd , Near B P Bakery',
 'Independent House, 242, 27th cross, 2nd Block, Rajajinagar, Bangalore-560010',
 '11th Main Road,36 Cross, 4th T Block, Near ,Post office, Jayanagar HPO',
 'Standalone building, 16th F main, Hal 2nd stage indrananagr blore ',
 'Ashiana Gardens Apartments\xa0 4, Sri Rama Temple Rd, Channakesahava Nagar, HAL 2nd Stage, Doopanahalli, Indiranagar, Bengaluru, Karnataka 560008, India',
 'embassy golf link road',
 'Independent House, 6th Cross Rd, 2nd Block  near  SMC Enclave ',
 'Independent House, 47th Cross Rd, 8th Block, 1st Phase, Near Maha Lakshmi Temple and Sir M Vishweshwaraiah Cooperative Bank Limited',
 '1st main govindraja naagar blore 560040',
 'Admiralty Manor, Indiranagar\xa0 Admiralty Manor, 6th Main Rd, Eshwara Layout, Indiranagar, Bengaluru, Karnataka 560008, India']

In [79]:
house_EMI = []

for i in soup_house.find_all('div',id="roomType"):
    house_EMI.append(i.text)
    
house_EMI

['â¹57,314/Month',
 'â¹37,827/Month',
 'â¹1.5 Lacs/Month',
 'â¹63,045/Month',
 'â¹2.21 Lacs/Month',
 'â¹87,691/Month',
 'â¹44,705/Month',
 'â¹85,971/Month',
 'â¹1.55 Lacs/Month',
 'â¹48,717/Month',
 'â¹77,374/Month',
 'â¹1.15 Lacs/Month',
 'â¹57,314/Month',
 'â¹3.91 Lacs/Month',
 'â¹2.72 Lacs/Month',
 'â¹63,045/Month',
 'â¹77,374/Month',
 'â¹74,508/Month',
 'â¹2.12 Lacs/Month',
 'â¹80,240/Month',
 'â¹1.63 Lacs/Month',
 'â¹83,679/Month',
 'â¹5.44 Lacs/Month',
 'â¹44,705/Month',
 'â¹91,703/Month']

In [82]:
house_price = []

for i in soup_house.find_all('div',id="minDeposit"):
    house_price.append(i.text.split('â¹')[1])
    
house_price

['1 Crore',
 '66 Lacs',
 '2.62 Crores',
 '1.1 Crores',
 '3.85 Crores',
 '1.53 Crores',
 '78 Lacs',
 '1.5 Crores',
 '2.7 Crores',
 '85 Lacs',
 '1.35 Crores',
 '2 Crores',
 '1 Crore',
 '6.83 Crores',
 '4.75 Crores',
 '1.1 Crores',
 '1.35 Crores',
 '1.3 Crores',
 '3.7 Crores',
 '1.4 Crores',
 '2.85 Crores',
 '1.46 Crores',
 '9.5 Crores',
 '78 Lacs',
 '1.6 Crores']

In [83]:
import pandas as pd
df = pd.DataFrame({'titles':house_title,'locations':house_location,'area':house_area,'house_EMI':house_EMI,'house_price':house_price})
df

,titles,locations,area,house_EMI,house_price
0,2 BHK Apartment For Sale In Tarang Parkway A...,Explore Nearby,"Tarang Parkway ApartmentÂ 2nd Main Rd, Shivana...","â¹57,314/Month",1 Crore
1,2 BHK Flat For Sale In Kumar Ashraya Apartme...,Explore Nearby,"Kumar Ashraya Apartments 194, 9th Cross Rd 2n...","â¹37,827/Month",66 Lacs
2,3 BHK Apartment For Sale In Brigade Gateway ...,Explore Nearby,"Brigade GatewayÂ Dr Rajkumar Road, Rajaji Naga...",â¹1.5 Lacs/Month,2.62 Crores
3,4+ BHK In Independent House For Sale In Raja...,Explore Nearby,"Independent House, 6th Cross road,9th main ro...","â¹63,045/Month",1.1 Crores
4,4+ BHK In Independent House For Sale In Jaya...,Explore Nearby,"Independent House, TMC Layout behind rajalaxmi...",â¹2.21 Lacs/Month,3.85 Crores
5,2 BHK Apartment For Sale In Blueberry Apartm...,Explore Nearby,"Blueberry ApartmentÂ 13th E Main Rd, Channakes...","â¹87,691/Month",1.53 Crores
6,3 BHK Apartment For Sale In Mayitri Enclave ...,Explore Nearby,"Mayitri EnclaveÂ Mayitri Enclave, 39th C, 5T B...","â¹44,705/Month",78 Lacs
7,"2 BHK Flat For Sale In Jains Prakruti, Jayan...",Explore Nearby,"Kanakapura Road, Jayanagar, Bangalore, Karnata...","â¹85,971/Month",1.5 Crores
8,4 BHK In Independent House For Sale In Jayan...,Explore Nearby,"Independent House, SBI Branch Jayanagar 9th bl...",â¹1.55 Lacs/Month,2.7 Crores
9,3 BHK Flat For Sale In Benaka Apartments In ...,Explore Nearby,"871, 5th Cross Rd, Indira Nagar 1st Stage, Sta...","â¹48,717/Month",85 Lacs
10,4+ BHK In Independent House For Sale In Prak...,Explore Nearby,"Independent House, 6th C cross 3rd main rd nea...","â¹77,374/Month",1.35 Crores
11,2 BHK Apartment For Sale In Jains Prakriti I...,Explore Nearby,"Jains PrakritiÂ Kanakapura Rd, 7th Block West...",â¹1.15 Lacs/Month,2 Crores
12,2 BHK Flat For Sale In Jayanagar Residency I...,Explore Nearby,"Jayanagar Residency, K V Layout, LIC Colony, J...","â¹57,314/Month",1 Crore
13,4 BHK Flat For Sale In Rrbc Piccassso In Jay...,Explore Nearby,"Municipal No.152, 18th main road, beside Sai B...",â¹3.91 Lacs/Month,6.83 Crores
14,4 BHK Flat For Sale In Phoenix One Bangalor...,Explore Nearby,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj...",â¹2.72 Lacs/Month,4.75 Crores
15,4+ BHK In Independent House For Sale In Laks...,Explore Nearby,"Independent House, CMH Rd , Near B P Bakery","â¹63,045/Month",1.1 Crores
16,3 BHK Flat For Sale In Rajaji Nagar,Explore Nearby,"Independent House, 242, 27th cross, 2nd Block,...","â¹77,374/Month",1.35 Crores
17,3 BHK Flat For Sale In Sgrr Pallavi Pristin...,Explore Nearby,"11th Main Road,36 Cross, 4th T Block, Near ,Po...","â¹74,508/Month",1.3 Crores
18,"3 BHK Flat For Sale In Hal 2nd Stage,indiran...",Explore Nearby,"Standalone building, 16th F main, Hal 2nd stag...",â¹2.12 Lacs/Month,3.7 Crores
19,3 BHK Apartment For Sale In Ashiana Gardens ...,Explore Nearby,"Ashiana Gardens ApartmentsÂ 4, Sri Rama Temple...","â¹80,240/Month",1.4 Crores
20,4 BHK Flat For Sale In Golfridge In Indira N...,Explore Nearby,embassy golf link road,â¹1.63 Lacs/Month,2.85 Crores
21,4+ BHK In Independent House For Sale In Raja...,Explore Nearby,"Independent House, 6th Cross Rd, 2nd Block ne...","â¹83,679/Month",1.46 Crores
22,4 BHK In Independent House For Sale In Jayan...,Explore Nearby,"Independent House, 47th Cross Rd, 8th Block, 1...",â¹5.44 Lacs/Month,9.5 Crores
23,2 BHK Flat For Sale In Aishwaryam Gokula In ...,Explore Nearby,1st main govindraja naagar blore 560040,"â¹44,705/Month",78 Lacs
24,"3 BHK Apartment For Sale In Admiralty Manor,...",Explore Nearby,"Admiralty Manor, IndiranagarÂ Admiralty Manor,...","â¹91,703/Month",1.6 Crores

# 9) dineout restaurent

In [84]:
restaurent_page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
restaurent_page

In [85]:
soup_restaurent = BeautifulSoup(restaurent_page.content)

In [86]:
Restaurant_name = []

for i in soup_restaurent.find_all('a',class_="restnt-name ellipsis"):
    Restaurant_name.append(i.text)
    
Restaurant_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'World Cafe',
 'Indian Grill Room',
 'Mad 4 Bar B Que',
 'Barbeque 29',
 'Glasshouse']

In [87]:
len(Restaurant_name)

13

In [88]:
Restaurant_Cuisine = []

for i in soup_restaurent.find_all('span',class_="double-line-ellipsis"):
    Restaurant_Cuisine.append(i.text.split('|')[1])
    
Restaurant_Cuisine

[' North Indian, Chinese',
 ' North Indian, Asian, Italian',
 ' Chinese, North Indian',
 ' Italian, Continental',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian, Chinese',
 ' North Indian, Chinese, Continental',
 ' North Indian, Mughlai',
 ' North Indian',
 ' North Indian, Mughlai, Desserts, Beverages',
 ' European, Italian, Asian, Continental']

In [89]:
Location = []

for i in soup_restaurent.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)
    
Location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [90]:
Ratings = []

for i in soup_restaurent.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
    
Ratings

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.2',
 '4.3',
 '3.6',
 '4.2',
 '4']

In [91]:
Image_URL = []

for i in soup_restaurent.find_all('img',class_="no-img"):
    Image_URL.append(i['data-src'])
    
Image_URL

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/d/p549-15291237715b2493bb2a415.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

In [92]:
import pandas as pd
df_restaurant = pd.DataFrame({'Restaurant_name':Restaurant_name,'Restaurant_Cuisine':Restaurant_Cuisine,'Location':Location,'Ratings':Ratings,'Image_URL':Image_URL})
df_restaurant

,Restaurant_name,Restaurant_Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"North Indian, Chinese","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Chinese, Continental","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

# 10) Bewakoof.com

In [93]:
tshirt_page = requests.get('https://www.bewakoof.com/women-clothing')
tshirt_page

In [94]:
bewakoof_soup = BeautifulSoup(tshirt_page.content)

In [95]:
product_name = []

for i in bewakoof_soup.find_all('div',class_="productCardDetail"):
    product_name.append(i.text.split('â¹')[0])
    
product_name

["Women's White Cotton Long Sleeve Round Neck T-shirt",
 "Women's Olive Rayon Long Sleeve Top",
 "Women's Black Cotton Long Sleeve Round Neck T-shirt",
 "Women's White Rayon Long Sleeve Top",
 "Women's White Cotton Scoop Neck Long Sleeve T-shirt",
 "Women's Black Rayon Long Sleeve Top",
 "Women's White RayonHigh Neck Long Sleeve Top",
 'Never Lose Hope Half Sleeve T-shirt',
 "Women's Maroon Rayon Round Neck Long Puff Sleeve Top",
 'Coca Cola Multicolor T-shirt']

In [96]:
price = []

for i in bewakoof_soup.find_all('span',class_="discountedPriceText"):
    price.append(i.text)
    
price

['â¹ 534',
 'â¹ 597',
 'â¹ 534',
 'â¹ 597',
 'â¹ 534',
 'â¹ 597',
 'â¹ 534',
 'â¹ 299',
 'â¹ 534',
 'â¹ 499']

In [97]:
image_URL = []

for i in bewakoof_soup.find_all('img',class_="productImgTag"):
    image_URL.append(i['src'])
    
image_URL

['https://images.bewakoof.com/t320/women-s-white-cotton-long-sleeve-round-neck-t-shirt-462374-1640890081-1.jpg',
 'https://images.bewakoof.com/t320/women-s-olive-rayon-long-sleeve-top-462373-1640889775-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-cotton-long-sleeve-round-neck-t-shirt-462364-1640890169-1.jpg',
 'https://images.bewakoof.com/t320/women-s-white-rayon-long-sleeve-top-462365-1640890254-1.jpg',
 'https://images.bewakoof.com/t320/women-s-white-cotton-scoop-neck-long-sleeve-t-shirt-462370-1640890060-1.jpg',
 'https://images.bewakoof.com/t320/women-s-black-rayon-long-sleeve-top-462366-1640890408-1.jpg',
 'https://images.bewakoof.com/t320/women-s-white-rayonhigh-neck-long-sleeve-top-462372-1640890836-1.jpg',
 'https://images.bewakoof.com/t320/never-lose-hope-half-sleeve-t-shirt-463229-1641457028-1.jpg',
 'https://images.bewakoof.com/t320/women-s-maroon-rayon-round-neck-long-puff-sleeve-top-462353-1640890811-1.jpg',
 'https://images.bewakoof.com/t320/coca-cola-multicolor-463257-1645165752-1.jpg']

In [98]:
bewakoof_df = pd.DataFrame({'product_name':product_name,'price':price,'image_URL':image_URL})
bewakoof_df

,product_name,price,image_URL
0,Women's White Cotton Long Sleeve Round Neck T-...,â¹ 534,https://images.bewakoof.com/t320/women-s-white...
1,Women's Olive Rayon Long Sleeve Top,â¹ 597,https://images.bewakoof.com/t320/women-s-olive...
2,Women's Black Cotton Long Sleeve Round Neck T-...,â¹ 534,https://images.bewakoof.com/t320/women-s-black...
3,Women's White Rayon Long Sleeve Top,â¹ 597,https://images.bewakoof.com/t320/women-s-white...
4,Women's White Cotton Scoop Neck Long Sleeve T-...,â¹ 534,https://images.bewakoof.com/t320/women-s-white...
5,Women's Black Rayon Long Sleeve Top,â¹ 597,https://images.bewakoof.com/t320/women-s-black...
6,Women's White RayonHigh Neck Long Sleeve Top,â¹ 534,https://images.bewakoof.com/t320/women-s-white...
7,Never Lose Hope Half Sleeve T-shirt,â¹ 299,https://images.bewakoof.com/t320/never-lose-ho...
8,Women's Maroon Rayon Round Neck Long Puff Slee...,â¹ 534,https://images.bewakoof.com/t320/women-s-maroo...
9,Coca Cola Multicolor T-shirt,â¹ 499,https://images.bewakoof.com/t320/coca-cola-mul...